---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="James Lewis"
	  position="Full Stack Web Developer"
	  aboutMe={`<p>Hey there! I'm <em>James Lewis</em>, a high-energy Bachelor of Engineering student diving deep into <strong>Artificial Intelligence and Data Science</strong> at Vidyavardhini's College of Engineering and Technology, Mumbai. I'm all about turning <em>bold ideas</em> into reality with my knack for coding, AI innovation, and software wizardry. Picture me geeking out over algorithms and building solutions that make jaws drop! I'm on a mission to join cutting-edge <strong>AI and Computer Engineering</strong> teams through internships or entry-level roles, ready to bring my A-game and learn from the best. Let's team up to create the <em>next big thing</em> in tech!</p>`}
	  linkedin="https://www.linkedin.com/in/-jameslewis/"
	  github="https://github.com/jameslewis-git"
	  cvLink="/files/JamesResume.pdf"
	  profileImage="/images/pfp2.jpg"
	/>
</BaseLayout>